db.sqlite3
*.pyc
*.DS_Store
build/
*.egg_info
#editors && utilites.
*.swp
*~
__pycache__/
.ropeproject/
#django
local_settings.py

media/
!media/keep
/CACHE/
/static/

\#*#
.\#*
*~

secret-key

node_modules/
*.db
ungleich.db
*~*

secret-key

*.psd

.idea/

.env
*.mo
*.log
*.sql

/utils/optimize/

# to keep empty dirs
!.gitkeep
*.orig

# ignore list for https://redmine.ungleich.ch/issues/5616
.Python
bin/
include/
lib/
pip-selfcheck.json
share/

